{% extends 'empty.html' %}
{% block content %}
  <div class="row">
      <div class="col-lg-6">
        <form action="{% url 'results' %}" method="GET" id="form">
          {{ form.errors }}
          {% for field in form %}
            {{ field.errors }}
            <div class="input-group">
              <span class="input-group-addon">{{ field.label_tag }}</span>
              {{ field }}
            </div>
          {% endfor %}
          <div class="input-group"></div>
          <button class="btn btn-primary" type="submit" onclick="$('#result').html('...')">Zastosuj</button>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="well" id="result"></div>
      </div>
    </div>

  <script>
  $(document).ready(function () {
    var options = {
      target: '#result'   // target element(s) to be updated with server response

      // other available options:
      //url:       url         // override for form's 'action' attribute
      //type:      type        // 'get' or 'post', override for form's 'method' attribute
      //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
      //clearForm: true        // clear all form fields after successful submit
      //resetForm: true        // reset the form after successful submit

      // $.ajax options can be used here too, for example:
      //timeout:   3000
    };

    // bind form using 'ajaxForm'
    $('#form').ajaxForm(options);
  });

</script>
{% endblock %}
